body {margin:0; font-size:13px; font-family: Verdana, Helvetica, sans-serif; color:#333; background-color:white; background-image:url(images/header3.png); background-position: center top; background-repeat:repeat-x}

div.wrapper {position:relative; max-width:900px; margin:0px auto 0px auto; text-align:left; }

div.content {padding:240px 0px 20px; line-height:normal; min-height:600px}
div.footer {width:850px; height:16px; margin:0px; padding:0px; text-align:left; font-size:10px; line-height:14px; color:#048}

a {color: #f00; text-decoration: none;}
a:visited {color: #f00}
a:hover {color:#048;}


a.menu {color: #048; text-decoration: none;}
a.menu:visited {color: #048}
a.menu:hover {color:#048}


a.small {color: #f55; text-decoration: none; font-size:10px}
a.small:visited {color: #f55;}
a.small:hover {background-color:#ca4;}

a.footer {color: #b88; text-decoration: none; font-size:9px}
a.footer:visited {color: #b88;}
a.footer:hover {text-decoration:underline; background-color:transparent;}

a.nav:hover {background-color: transparent;}
a.bold {text-decoration: none; font-weight:bold}

div.pad10 {padding:10px}
div.dots {background-image:url(images/hdot.gif); background-repeat:repeat-x; height:8px}

p {margin:0px; padding:0px 0px 8px 0px}
p.close {padding-bottom:4px; font-size:11px}

img {border:none}
img.border {padding:4px; border:solid 1px #fb7}

textarea {font-size:11px; font-family: Verdana, Helvetica, sans-serif;}
input {font-size:11px; font-family: Verdana, Helvetica, sans-serif;}
input.subpap {font-size:13px; font-family: Verdana, Helvetica, sans-serif; background-color:#ffe; border:1px solid #aaa}
textarea.subpap {font-size:13px; font-family: Verdana, Helvetica, sans-serif; background-color:#ffe; border:1px solid #aaa}

.button {background-color:#ffb; padding:2px 5px; border:1px solid #999; border-radius:6px}

h2 {font-family: Georgia, "Times New Roman", serif; font-size:26px; color:#048; font-weight: normal; margin-bottom:6px; margin-top:20px;}
h2.smalltop {margin-top:2px}
h3 {font-family: Georgia, "Times New Roman", serif; font-size:22px; color:#048; font-weight: normal; margin-bottom:12px; margin-top:20px; padding-bottom:2px; border-bottom:2px solid #98AFC7;}
h4 {font-family: Georgia, "Times New Roman", serif; font-size:18px; color:#048; font-weight: normal; margin-bottom:6px; margin-top:12px;}
h5 {font-family: Georgia, "Times New Roman", serif; font-size: 14px; color: #048; font-weight: bold; margin-bottom:2px; margin-top:4px;}

table {text-align:left; border:0px; margin-top:10px; margin-bottom:10px}
table.pad5 td {padding:2px 5px}
table.pad10 td {padding:2px 10px}
table.pad8 td {padding:2px 8px}
tr {vertical-align:top}
tr.bld td {font-weight:bold}
tr.itl td {font-style:italic; border-bottom:solid 1px #98AFC7}

td.td1 {padding:0 10px}

table.lines {background-color:#98AFC7}
table.lines td {background-color:white; padding:4px 10px}
table.tb1 td {padding:5px}

hr.thin {margin:0px}

.small {font-size:13px; color:black}
.smaller {font-size:11px;}
.norm {font-size:13px;}
.hilite {font-size:14px; font-weight:bold; color:#35c}
.larger {font-size:14px;}

.white {color: #fff}
.orange {color: #d85}
.red {color: #c00}
.darkred {color: #833}
.blue {color: #339}
.lightblue {color: #ccf}
.lightyellow {color: #ff8}
.green {color: #063}
.ltgrey {color: #bbb}
.grey {color: #777}

ol {margin-top:0px; margin-bottom:8px; margin-left:30px; padding:0px; text-align:left;}
ul {margin-top:0px; margin-bottom:8px; margin-left:20px; padding:0px; text-align:left;}
ul.venue {list-style-image:url(images/bulletvenue.png);}
li {padding-bottom:6px}

.sty0 {background-color:#dfc}
.sty1 {color:#853; font-size:16px;}
.sty2 {background-color:#fed}
.sty3 {color:#853; font-size:14px; text-align:center}
.sty4 {color:#853; font-size:13px;}
.sty5 {color:#aaa; font-size:11px;}
.sty6 {color:#999; font-size:9px;}
.sty7 {color:#444; font-size:10px;}

.money {color:red; text-align:right}
